body { margin: 3% 0; padding: 0; height: 90vh;

}

.main-container {
    height: 100vh;
    position: static;
    top: 0;
    background-image: url(./images/background-index-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-family: 'Din Pro Medium', sans-serif;
    font-weight: lighter;
    font-size: 14px;

}

a {
    color: #48a2b8;
    text-decoration: none;

}

a:hover {
    color: #f1bc41;
}

#map { position: absolute; top:15%; left: 6%; width: 88vw; height: 100%;}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255,255,255, 0.5);
    padding: 10px 10px;
    margin: 10px;
    font-family: 'Din Pro Medium', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    
    }    
        #menu a {
        font-size: 13px;
        color: #404040;
        background-color: #f8f8f8;
        display: block;
        margin: 0;
        padding: 10px;
        width: 150px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
        border-radius: 3px;

        }
         
        #menu a:last-child {
        border: none;
        }
         
        #menu a:hover {
        background-color: #f8f8f8;
        color: #404040;
        }
         
        #menu a.active {
        background-color: #8da89e;
        color: #ffffff;
        }
         
        #menu a.active:hover {
        background: #75a895;
        }

footer {
    height: 100px;
    bottom: 0;
    text-align: center;
    padding: 2rem;
    background-color: #f1bc41;
    backdrop-filter: blur(5px);
    align-content: center;
}

.headertitle {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    line-height: 1;
    text-align: left;
    color:#000;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #f1bc41;
    vertical-align: middle;
    align-items: center;
    column-gap: 5px;
    z-index: 2;
    }

    .headertitlemain {
        width: 80vw;
        padding-left: 5%;
    }

.headertitle h1{
    font-weight: 200;
    margin: 5px auto;
}

.headertitle a{
    text-decoration: none;
    font-family: "Tilt Warp", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #000 ;
    letter-spacing: 1.5px;
    }

.headertitle a:hover{
    color: #48a2b8;
}

.headerSubtitle {
    padding-right: 30%;
}

.headerSubtitle h3 {
    margin: 5px 0;
}


.headerSubtitle h3, .headerSubtitle-sm h3 {

    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    color: #232323;
}

.headerSubtitle-sm {
    visibility: hidden;
    padding: 10px;
}


/* Add a black background color to the top navigation */
.topnav {
    /* background-color: rgba(188, 188, 188, 0.375); */
    width: 10vw;
    overflow: hidden;
    display: flex;
    margin: 10px 10px;
    justify-content: right;
    align-items: right;
    min-height: 40px;


}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #000;
    background-color: #f1bc41;
    border: 2px solid #000;
    border-radius: 12px;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Inter Tight', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #48a2b8;
    color: #ffffff;
    transition: 0.7s;
}

/* Add a color to the active/current link */
/* .topnav a.active {
    background-color: #d4d1c7;
    color: rgb(93, 93, 93);
} */

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


.h2 {
    position: absolute;
    top: 130px;
    right: 0;
    left: 0;
    font-family: 'Inter Tight', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000;
}

.h2 p{
    font-size: 16px;
}

.citylist {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 10px auto;
    padding-top: 12px;
    height: 100px; width: 200px;

}

.citylist h2 {
    font-family: 'Inter Tight', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #000;
}

.fa-location-pin {
    font-size: 14px;
}


.About {
    max-width: 640px;
    margin: 8% auto;
    padding-bottom: 10%;
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    background-color: transparent;
}

.About h2 {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000000;
}

.About p {
    font-size: 16px;
    font-weight: 200;
    margin: 0 40px;
}

.grid-margin {
    position: relative;
    margin-bottom: 20px;
}


.grid-container {
    display: grid;
    margin-top: 100px;
    margin-inline: 110px;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: 370px 370px 370px;
    padding: 50px;
    padding-top: 100px;
    height: 75%;
    justify-content: center;
}

.grid-item {
    background-color: #fcf8ed;
    text-align: center;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 25px 10px -10px rgba(0, 0, 0, 0.094);
    opacity: 0.85;
  }

  .grid-item h3, .grid-item a {
    font-family: 'Inter Tight', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #000;
    margin-top: 0px;
    text-transform: uppercase;
}

.textmarker-effect {
    /* background: linear-gradient(to bottom, #f1ede000 40%, #f1bc4164 50%, #f1bc419a 90%); */
    /* padding: 2px 3px 2px 0; */
    background: url(./images/wave.png) repeat-x; 
    background-size: 14px; background-position: 0px;
    padding-bottom: 28px;
    transition: all ease 0.5s;
    line-height: 2;

}

.textmarker-effect:hover {
    animation: waveline 6s linear infinite;
}

@keyframes waveline{
    to{
        background-position: -150px;
    }
}

.textmarker-effect:hover {
    color: #48a2b8;
    cursor: pointer;
    /* background: linear-gradient(to bottom, #f1ede000 40%, #f1bc4189 50%, #ffc743b1 90%);
    transition: all 0.5s;
    padding-bottom: 4px;
    border-bottom: none; */

}


.grid-item p {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    font-size: 14px;
    word-wrap: break-word;
    text-align: left;
    margin: 10px 25px;
    line-height: 1.5;
}

.grid-item img {
    width: 300px;
    height: auto;
    align-items: center;
    border-radius: 4px;
    backdrop-filter: blur(8px);
}

A > IMG.lazyloaded:hover { -webkit-filter:sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8); filter:sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8) }
/* Internet Explorer 10+, Microsoft Edge Browser */
_:-ms-lang(x), A > IMG.lazyloaded:hover { -webkit-filter:none; filter:none }

.img-container {
 position: absolute;
 display: block;
 height: fit-content;
 width: 100%;
 margin-top: 3%;
 margin-left: 0;
 text-align: center;

}   

#Pins > path {
    animation-name: pinsBounce;
	animation-duration: 3s; 
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 1s;
	transform-origin: bottom;
}

@keyframes pinsBounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-7px);
    }
    60% {
      transform: translateY(-3px);
    }
  }

.container {
    position: relative;
	top: 190px;
    margin: auto;
    width: 100%;
    height: fit-content;
	display: flex;
    z-index: 1;
}

section.left {
    display: inline-block;
	position: relative;
	margin-bottom: 80px;
	width: 65%;
    padding: 0;
    margin: 0;
    margin-left: -70px;
    text-align: center;
}

section.left h2 {
	width: calc(100% - 100px);
    margin-left: 50px;
	line-height: 80%;
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #000;
}

section.left p {
	width: calc(100% - 100px);
	margin-left: 50px;
    margin-top: 8px;
	line-height: 135%;
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 1.5px;
    color: #48a2b8;
}

section.left a.button {
    display: inline-block;
    width: 18%;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 0px;
    padding: 13px;
    background-color: #f1bc41;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: 700;
    letter-spacing: 1.1px;
    color: #000;
}

section.left a.button:hover {
    background-color:#48a2b8;
    transition: 0.3s;
    border: 3px solid black;
    color: #ffffff; 
}


.svg-container {
	/* border: 2px solid black; */
	width: calc(100% - 100px);
	height: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.svg-container svg, img {
	height: fit-content;
    border-radius: 10px;

}

.svg-container-resp {
    display: none;
    text-align: center;


}

.svg-container-resp img {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 0;

}

@media all and (max-width: 1112px) {
    .container {
        top: 255px;
    }

    section.left {
        margin-left: -40px;
    }
    section.left p, section.left h2{
        line-height: 30%;
    }
    
}

@media all and (max-width: 1020px) {

    .container {
        top: 35px;
    }

	section.right {
		width: 0%;
        margin-left: -50px;
        text-align: center;
	}

    section.left {
        width: 100%;
        margin-left: 0px;
        margin-top: 50px;

    }

	section.right {
		padding-left: 50px;
		margin-bottom: 50px;
	}

    .svg-container-resp {
        display: flex;
        justify-content: center;
        
    }
    
    .svg-container-resp img {
        display: flex;
      text-align: center;
      justify-content: center;
      padding-bottom: 0px;

    }

    .img-container svg {
        display: none;
       }
}


@media all and (max-height: 600px) {
    .container {
        height: 30%;
    }

    section.left p, section.left h2{
        line-height: 30%;
    }

    section.left a.button {
        padding: 10px;
        width: fit-content;
        
    }
}

@media all and (max-height: 800),
        all and (max-width: 1444) {
       
        .container {
            top: 250px;
        }

       .img-container svg {
        width: 87%;
        margin-left: 0px;
        margin-top: 30px;
       }


       section.left {
        margin-left: -25px;
    }

    section.left p, section.left h2{
        line-height: 50%;
    }
}

@media all and (min-width: 2560px) {
    section.left p, section.left h2{
        font-size: xx-large;
    }

    .container {
        top: 500px;
    }

    section.left {
        margin-left: -90px;
    }

    .headertitle h1, h3 {
        font-size: xx-large;
    }
}

@media all and (max-width: 1024px){

    section.left p, section.left h2{
        line-height: 10%;
        font-size: medium;
    }

    section.left a.button {
        padding: 10px;
        width: fit-content;
        
    }
}

@media all and (max-width: 1400px) {
    .img-container {
        margin-top: 90px;
       }
       section.left h2{
        line-height: 10%;
        font-size: medium;
    }

}

@media all and (max-width: 420px) {
    
    .container {
        height: auto;
        padding-bottom: 10px;
    }

    .svg-container-resp {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        
    }

    .svg-container-resp img {
      display: flex;
      text-align: center;
      justify-content: center;
      padding-bottom: 15px;

    }

    section.left p, section.left h2{
        line-height: 1.5;
    }

}


@media all and (max-width: 600px) {

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
    position: absolute;
    right: 12%;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
    }

        
    .headerSubtitle h3 {
        font-size: 13px;
    }


    .headertitle {
        max-height: 53px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .headertitlemain {
        padding-top: 55px;


    }

    .headertitle h1 {
        margin: 10px auto;
    }


    .headerSubtitle {
        visibility: hidden;
    }

    .headerSubtitle-sm {
        visibility: visible;
        padding: 10px 20px;
        
    }

    .topnav {
        margin-top: 0px;
        width: 30%;
        justify-content: left;
    }

    .topnav a {
        height: 14px;
        padding: 10px 10px;
        margin: 7px;
        border-width: 1px;
        font-weight: 400;
    }

    .About {
        margin: 25% auto;
        padding-bottom: 20%;
    }

    .grid-container {
        margin-top: 80px;
        margin-bottom: 30px;
        margin-inline: 0px;
        grid-template-columns: 100%;
    }

    .grid-item h3,.grid-item a {
        font-size: medium;
    }

    .grid-item img {
        width: 250px;

    }

    .citylist {
        margin-bottom: 10px;

    }

    .citylist h2 {
        font-size: 18px;
    }

    .container {
        height: fit-content;
        line-height: 2;
    }

    
   section.left a.button {
        margin-top: 10px;
        margin-bottom: 30px;

    }

}


@media all and (max-width: 900px) {
    .grid-container {
        margin-inline: 8px ;
    
    }


@media all and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: auto;
    }

}


}

