body { margin: 0; padding: 0;
    /* background-image: url("images/Picture\ 1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    background-blend-mode: lighten; */
    }

#map {
    position: absolute;
    left: 20%;
    width: 80%;
    height: auto;
    margin: 40px 0 0 0;
    top: 0;
    bottom: 0;
    }

.heading {
min-height: 30px;
line-height: 60%;
background-color: #f1bc41;
color: #000000;
font-family: 'Inter Tight', sans-serif;
font-size: 9px;
padding: 4px 0;
margin: 40px 0 0 0;
text-align: center;
}

.mapLegend {
  position: absolute;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
  font-family: 'Inter Tight', sans-serif;
  margin-bottom: 5px;
  padding: 0 15px;
  padding-bottom: 5px;
  width: 18%;
  height: auto;
  border: 1px solid #eee;
  font-size: 12px;
  line-height: 1.2;
  color: #222;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  backdrop-filter: blur(8px);

}

.mapLegend ul {
list-style-type: none; /* Remove bullets */
columns: 2;
column-gap: 0px;
/* -moz-column-gap: 90px;
-webkit-column-gap: 90px; */
-webkit-columns: 2;
-moz-columns: 2;
line-height: 1.6;
padding: 0px;
margin-right: -70px;
margin-top: 10px;
margin-bottom: -13px;
}

.mapLegend img {
  vertical-align: middle;
}

.main-container {
  width: 12%;
  height: 100%;
  margin-bottom: 30px;
  margin-left: 21%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter Tight', sans-serif;

} 
.coll-btn {
  background-color: transparent;
  color: #222;
  padding-top: 0;
  padding-bottom: 2px;
  font-family: 'Inter Tight', sans-serif;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  border: none;
}


.coll-item {
  color: #222;
  font-size: 12px;
}

/*IMPORTANT*/

.coll-container {
  /* top: -55px; */
  top: 600px;
  /* bottom: 55px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-top: 4em;
  position: relative;
}

.coll-header {
  width: 100%;
  height: 15px;
  padding: 8px;
  color: white;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  color: #797979;  
  background-color: rgba(255, 255, 255, 0.804);
  border: 1px solid #eee;
}

.coll-header:after {
  font-family: "Font Awesome 5 Free";
  content: '\f0c9';
  color: #f1bc41;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.coll-content {
  opacity: 0;
  visibility: hidden;
  padding: 10px;
  border: 0.5px solid #eee;
  /* box-shadow: 0px 0px 4px 0px rgba(15, 15, 15, 0.2); */
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  vertical-align: middle ;  
  background-color: rgba(255, 255, 255, 0.9);
  color: #222;
  width: 98%;
  max-height: 0px;
  transition-property: max-height;
  /* transition: 300ms ease-in; */
}

  /*END*/

.sidebar {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    /* border-right: 1px solid rgba(0, 0, 0, 0.25); */
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(188, 188, 188, 0.035);
    overflow: hidden;
    margin-top: 5px;
    margin-right: 0;
    min-height: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #797979;
    text-align: center;
    padding: 8px 0.5%;
    text-decoration: none;
    font-family: 'Inter Tight', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: transparent;
    color: rgb(93, 93, 93);
}

/* Add a color to the active/current link */
/* .topnav a.active {
    background-color: #d4d1c7;
    color: rgb(93, 93, 93);
} */

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
    position: absolute;
    right: 12%;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
    }
}


@media screen and (max-width: 800px){
    .h2 {
    display: none;
    }
    
}

.headertitle {
    position: absolute;
    top: 0;
    right: 40%;
    font-family: 'MuseoModerno', cursive;
    font-weight: 100;
    font-size: 12px;
    line-height: 60%;
    text-align: center;
    color:#000;
    margin: auto;
    }
    .headertitle a{
        text-decoration: none;
        font-family: 'MuseoModerno', cursive;
        font-weight: 200;
        font-size: 28px;
        color: #000 ;
        }
    
    .headertitle a:hover{
        color: #f1bc41;
    }

/* Style for attractions list */
.listings {
    height: 73%; /*72%*/
    overflow: auto;
    padding-bottom: 20px;
    font-family: 'Inter Tight', sans-serif;
    display: block;
  }
  
  .listings .item {
    border-bottom: 1px solid #eee;
    padding: 10px;
  }
  
  .listings .item:last-child { border-bottom: none; }
  
  .listings .item .title {
    display: block;
    color: #48a2b8;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;

  }

  .listings .item .details {
    padding-right: 0;
    font-size: 12px;
  }
  

  .listings .item .details ul {
    padding-left: 15px;
    margin-top: 2px;
    font-size: 11px;
    list-style-type: none; /* Remove bullets */

  }

  .listings .item .details a {
    text-decoration: none;
    color: #48a2b8;
  }

  .listings .item .details a:hover {
    color: #f1bc41;
  }
  
  .listings .item .title small { font-weight: 400; }
  
  .listings .item.activeList .title,
  .listings .item .title:hover { color: #15a438; } /*red: d60d46*/

  .listings .item.active .title 
  { color: #f1bc41; } /*red: d60d46*/
  
  .listings .item.active,
  .listings .item.activeList {
    background-color: #f8f8f8;
  }
  
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #48a2b8;
    border-radius: 3px;
  }

.legend {
    display: flex;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #eee;
    font-family: 'Inter Tight', sans-serif;
    font-size: 12px;
    padding: 0 12px;
    padding-bottom: 10px;
}


.legend p {
    vertical-align: text-top;
    overflow-wrap: break-word;
}

.legend ul {
  list-style-type: none; /* Remove bullets */
  columns: 2;
  column-gap: 10px;
  -webkit-columns: 2;
  -moz-columns: 2;
  line-height: 2;
  padding-left: 2px;
  padding-top: 5px;
}


#menu {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(255,255,255, 0.8);
    color: #797979;
    padding: 10px 10px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 12px;
    font-weight: 700;
    
    }

#layernav {
background: transparent;
position: absolute;
bottom: 40px;
left: 25%;
width: 50%;
font-family: 'Inter Tight', sans-serif;
font-size: 11px;
display: block;
}
    
#layernav a {
font-size: 12px;
color: #7f7f7f;
background-color: #dcdcdc;
display: block;
margin: 0;
padding: 5px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
border-radius: 5px;

}
    
#layernav a:last-child {
border: none;
}
    
#layernav a:hover {
background-color: #f8f8f8;
color: #404040;
}
    
#layernav a.active {
background-color: #48a2b8;
color: #ffffff;
}
    
#layernav a.active:hover {
background: #f1bc41;
}

.marker {
    border: none;
    cursor: pointer;
    height: 24px;
    width: 18px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #6bcdd6;
    text-align: center;
    background-image: url(/images/location-pin-solid.svg);
  }

.marker:hover,
.marker.activeHover
{
    border: none;
    cursor: pointer;
    height: 24px;
    width: 18px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #000;
    text-align: center;
    background-image: url(/images/location-pin-solid-green.svg);
  }

.marker.activeClick {
    border: none;
    cursor: pointer;
    height: 24px;
    width: 18px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #000;
    text-align: center;
    background-image: url(/images/location-pin-solid-yellow.svg);
  }


/* STYLE FOR POPUPS */
.mapboxgl-popup{
    padding-bottom: 40px;
    margin-top: 10px;
    width: 600px;
    height: 300px;
}


.mapboxgl-popup-close-button {
    margin-top: 5px;
    color: rgb(158, 156, 156);
    z-index: 999;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 0px;
  }

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    margin-top: -15px;
    color: #000;
    border-bottom-color: #000;
}

.mapboxgl-popup-content {
    position: absolute;
    inline-size: 140px;
    overflow-wrap: break-word;
    overflow-y: scroll;
    font: 400 12px/11px 'Inter Tight', sans-serif;
    padding: 0;
    padding-bottom: 5px;
    margin-top: 10px;
    margin: 0 0 10px;
    width: 220%;
    height: 120%;
}

.mapboxgl-popup-content h3 {
    position: fixed;
    width: 213%;
    background: #f1bc41;
    color: #000;
    margin-top: 0;
    padding: 8px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    font-kerning: auto;
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
}

.mapboxgl-popup-content p {
    padding: 0 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 400;
    margin-top: 0px;
    margin: 5px;
    line-height: 1.3em;
    display: block;
    text-align: justify;
}

.mapboxgl-popup-content #img  {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.mapboxgl-popup-content #img2  {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Style the Image Used to Trigger the Modal */
/* #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
   */
  
  
