body { margin: 0; padding: 0;
    /* background-image: url("images/Picture\ 1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    background-blend-mode: lighten; */
    }

#map { position: absolute; top:0; bottom: 0; margin: 40px 0 0 0; width: 100%;}


.sidebar {
    position: absolute;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(188, 188, 188, 0.037);
    overflow: hidden;
    margin-top: 5px;
    margin-right: 0;
    min-height: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #797979;
    text-align: center;
    padding: 8px 1%;
    text-decoration: none;
    font-family: 'Inter Tight', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: transparent;
    color: rgb(93, 93, 93);
}

/* Add a color to the active/current link */
/* .topnav a.active {
    background-color: #d4d1c7;
    color: rgb(93, 93, 93);
} */

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
    position: absolute;
    right: 12%;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
    }
}


@media screen and (max-width: 800px){
    .h2 {
    display: none;
    }
    
}

.headertitle {
    position: absolute;
    top: 0;
    right: 40%;
    font-family: 'MuseoModerno', cursive;
    font-weight: 100;
    font-size: 12px;
    line-height: 60%;
    text-align: center;
    color:#000;
    margin: auto;
    }
    .headertitle a{
        text-decoration: none;
        font-family: 'MuseoModerno', cursive;
        font-weight: 200;
        font-size: 28px;
        color: #000 ;
        }
    
    .headertitle a:hover{
        color: #f1bc41;
    }

#menu {
    position: absolute;
    top: 50px;
    left: 10px;
    background: rgb(255,255,255, 0.6);
    color: #000000;
    padding: 5px 10px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 11px;
    font-weight: 400;
    border-radius: 6px;
    z-index: 1;
    }

    #menu a {
        position: absolute;
        font-size: 13px;
        color: #404040;
        background-color: #f8f8f8;
        display: block;
        margin: 0;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
        border-radius: 3px;

        }
         
        #menu a:last-child {
        border: none;
        }
         
        #menu a:hover {
        background-color: #f8f8f8;
        color: #404040;
        }
         
        #menu a.active {
        background-color: #8da89e;
        color: #ffffff;
        }
         
        #menu a.active:hover {
        background: #75a895;
        }

.legend-container {
    width: 12%;
    height: 20%;
    top: 9.5%;
    margin-left: 10px;
    background-color: rgb(255,255,255, 0.6);
    box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 6px;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-family: 'Inter Tight', sans-serif;
    z-index: 1;
}

.legend-header {
    font-size: 13px;
    font-weight: 700;
    padding: 5px 10px;
}

.container {
	position: absolute;
    margin-top: 50px;
    width: 8%;
	background: rgba(255, 255, 255, 0.60);
	backdrop-filter: blur(8px);
	border-radius: 6px;
	box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.15);
    font-family: 'Inter Tight', sans-serif;
    z-index: 1;
}

.container h3{
    font-size: 14px;
    font-weight: 700;
	line-height: 18px;
	margin: 0 8px 0 8px;
}

.container p{
    font-size: 13px;
    font-family: 'Inter Tight', sans-serif;
	line-height: 10px;
	margin: 0 8px 0 10px;
}

.container-drawer {
	display: block;
	margin: 8px 0 10px 5px;
}

#controller {
	padding: 0px;
	top: 30px;
	left: 10px;
}

.checkbox {
	width: 9px;
	height: 9px;
	border: 2.5px solid rgba(30, 30, 30, 0.697);
	border-radius: 2px;
	margin: 4px 4px 0 4px;
	transition: all 0.3s ease;

}

.checked {
    /* background-color: #000; */
    font-family: "Font Awesome 5 Free";
    background-color: #f1bc41;
}


#layernav {
display: block;
position: absolute;
top: 14%;
left: 10px;
width: 160px;
font-family: 'Inter Tight', sans-serif;
font-size: 11px;
z-index: 1;

}
    
#layernav a {
font-size: 11px;
color: #838383;
background-color: rgba(193, 193, 193, 0.477);
display: block;
margin: 0;
padding: 3px;
text-decoration: none;
border-bottom: 1px solid rgba(52, 80, 94, 0.25);
text-align: center;
border-radius: 3px;

}
    
#layernav a:last-child {
border: none;
}
    
#layernav a:hover {
background-color: #f8f8f8;
color: #404040;
}
    
#layernav a.active {
background-color: #0588a9ab;
color: rgb(255, 255, 255);
}
    
#layernav a.active:hover {
background: #f1bc41e7;
}


/* STYLE FOR POPUPS */
.mapboxgl-popup{
    padding-bottom: 25px;
}

.mapboxgl-popup-close-button {
position: absolute;
margin-top: -15px;
color: #ddd;
}

.mapboxgl-popup-content {
    inline-size: 140px;
    overflow-wrap: break-word;
    font: 400 11px/11px 'Inter Tight', sans-serif;
    padding: 0;
    max-width: 150px;
}

.mapboxgl-popup-content h3 {
    background: #f4f4f4;
    color: #000;
    margin: 0;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    font-kerning: auto;
    line-height: normal;
    margin-top: -15px;
}

.mapboxgl-popup-content p {
    padding: 10px;
    font-weight: 400;
    margin-top: -5px;
    margin-bottom: -5px;

}

 